@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Young Serif', serif;
    font-family: 'Cormorant Garamond', serif;
}
body{
    margin: 0;
    margin-top: 0;
}
html{
    scroll-behavior: smooth;
}

